header .redes {
    display: flex;
    align-items: center;
    justify-content: center;
}

header .redes a {
    margin-top: 5px;
    padding: 15px;
    text-decoration: none;
    color: white;
}

header .redes a:hover {
    background-color: rgb(73, 73, 124);
    border-radius: 5px;
}

.apresentacao {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 50px;
}

.foto-perfil {
    width: 275px;
    border-radius: 50%;
    border: 5px solid white;
}

.descricao {
    max-width: 600px;
    margin: 20px;
    font-size: 1.2em;
    line-height: 1.5em;
    text-align: justify;
}

.projetos {
    background-color: rgb(73, 73, 124);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cards-projetos {
    display: flex;
    justify-content: center;
    align-items: initial;
    flex-wrap: wrap;
}

.projeto {
    background-color: rgb(2, 2, 41);
    border-radius: 10px;
    margin: 20px;
    max-width: 350px;
    height: 100%;
    text-align: center;
}

.projeto img {
    width: 90%;
    border-radius: 5px;
    margin-top: 20px;
}

.descricao-projeto {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.descricao-projeto h3 {
    max-width: 220px;
}

.descricao-projeto button {
    background-color: rgb(73, 73, 124);
    color: white;
    font-size: 2em;
    text-align: center;
    border-radius: 50%;
    border: none;
    margin-left: 5px;
    width: 40px;
    height: 40px;
}

.descricao-detalhada {
    display: none;
    margin: 20px;
    line-height: 1.6em;
}

.link-botao {
    background-color: rgb(73, 73, 124);
    padding: 10px;
    width: 70%;
    border-radius: 10px;
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.mensagens .link-botao {
    margin: 0;
    width: 200px;
}

.botao-github,
.botao-mensagens {
    background-color: rgb(73, 73, 124);
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}

.mensagens {
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.7);
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
}

#p-mensagens {
    padding-top: 3px;
}

.footer-principal {
    background-image: url(../images/imagem-rodape.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 450px;
}

@media screen and (max-width: 806px) {
    .mensagens {
        text-align: center;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 600px) {
    form {
        position: static;
    }

    form label,
    form input,
    form textarea {
        width: 75%;
    }
}

@media screen and (max-width: 450px) {
    .foto-perfil {
        max-width: 75%;
    }

    .descricao {
        font-size: 1em;
    }

    form label,
    form input,
    form textarea {
        width: 90%;
    }
}

@media screen and (max-width: 400px) {
    .descricao-projeto {
        flex-direction: column;
    }
}