.mensagens-tab {
    display: none;
    padding: 10px;
    background-color: rgb(2, 2, 41);
}

.mensagens-tab.active {
    display: block;
}

.tabs {
    text-align: center;
    margin: 20px 0;
}

.tab-button {
    background-color: rgb(73, 73, 124);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.tab-button:hover,
.tab-button.active {
    background-color: rgb(92, 92, 153);
}

ul {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

li {
    background-color: rgba(255, 255, 255, 0.1);
    list-style-type: none;
    width: 70%;
    padding: 20px 40px;
    margin: 10px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.dados {
    width: 50%;
    padding: 20px 0;
}

.botoes-mensagem {
    display: flex;
}

.botoes-mensagem button, .botao-excluir {
    min-height: 30px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    margin-left: 8px;
    padding: 0 20px;
}

.botao-excluir {
    background-color: rgb(204, 0, 0);
}

.botao-editar {
    background-color: rgb(45, 45, 128);
}

.botao-marcar-lida {
    background-color: rgb(34, 139, 34);
}

/* Modal */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: rgb(29, 29, 69);
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgb(92, 92, 153);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.close {
    color: rgb(170, 170, 170);
    font-size: 28px;
    font-weight: bold;
    text-align: right;
    position: fixed;
    top: 20px;
    right: 20px;
}

.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    li {
        align-items: center;
        justify-content: center;
    }

    .dados {
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 450px) {
    .botoes-mensagem {
        flex-direction: column;
        width: 100%;
    }

    .botao-excluir {
        width: 100%;
    }

    .botoes-mensagem button {
        margin: 8px 0 0 0;
    }

    form label,
    form input,
    form textarea {
        width: 90%;
    }
}