* {
    margin: 0;
    list-style-type: none;
}

body {
    color: white;
    background-color: rgb(2, 2, 41);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background: linear-gradient(rgb(0, 0, 0), rgb(2, 2, 41));
    padding: 20px;
}

h1 {
    text-align: center;
}

button:hover {
    cursor: pointer;
}

form {
    background-color: rgb(2, 2, 41);
    max-width: 400px;
    height: 100%;
    position: absolute;
    padding: 0 35px;
    top: 0;
    right: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form h2 {
    margin: 25px 0 0 0;
}

form label {
    margin-top: 20px;
}

form label,
form input,
form textarea {
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: none;
}

form textarea {
    height: 70px;
}

form .enviar:hover {
    cursor: pointer;
}