* {
    margin: 0;
}

body {
    color: white;
    background-color: rgb(2, 2, 41);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background: linear-gradient(rgb(0, 0, 0), rgb(2, 2, 41));
    padding: 20px;
}

h1 {
    text-align: center;
}

header nav ul {
    text-align: center;
} 

header nav ul li {
    display: inline-block;
    margin: 20px;
    list-style-type: none;
}

header nav ul li a {
    text-decoration: none;
    color: white;
}

.apresentacao {
    text-align: center;
    padding: 50px;
}

.foto-perfil {
    max-width: 275px;
    height: auto;
    border-radius: 50%;
    border: 5px solid white;
    display: inline-block;
    vertical-align: middle;
}

.descricao {
    max-width: 600px;
    display: inline-block;
    vertical-align: middle;
    margin: 20px;
    font-size: 1.2em;
    text-align: justify;
}

.projetos {
    background-color: rgb(73, 73, 124);
    padding: 20px;
    text-align: center;
}

.projeto {
    background-color: rgb(2, 2, 41);
    border-radius: 10px;
    margin: 20px;
    width: 350px;
    height: 240px;
    display: inline-block;
    vertical-align: middle;
}

.projeto img {
    width: 300px;
    border-radius: 5px;
    margin-top: 20px;
}

.descricao-projeto {
    margin: 10px;
    vertical-align: middle;
}

.descricao-projeto h3 {
    width: 220px;
    display: inline-block;
    vertical-align: middle;
}

.descricao-projeto button {
    background-color: rgb(73, 73, 124);
    color: white;
    border-radius: 15px;
    border: none;
    width: 90px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
}