* {
    margin: 0;
}

body {
    color: white;
    background-color: rgb(2, 2, 41);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background: linear-gradient(rgb(0, 0, 0), rgb(2, 2, 41));
    padding: 20px;
}

h1 {
    text-align: center;
}

header .redes {
    text-align: center;
} 

header .redes a {
    display: inline-block;
    margin-top: 5px;
    padding: 15px;
    list-style-type: none;
    text-decoration: none;
    color: white;
}

header .redes a:hover {
    background-color: rgb(73, 73, 124);
    border-radius: 5px;
}

.apresentacao {
    text-align: center;
    padding: 50px;
}

.foto-perfil {
    max-width: 275px;
    height: auto;
    border-radius: 50%;
    border: 5px solid white;
    display: inline-block;
    vertical-align: middle;
}

.descricao {
    max-width: 600px;
    display: inline-block;
    vertical-align: middle;
    margin: 20px;
    font-size: 1.2em;
    line-height: 1.5em;
    text-align: justify;
}

.projetos {
    background-color: rgb(73, 73, 124);
    padding: 20px;
    text-align: center;
}

.projeto {
    background-color: rgb(2, 2, 41);
    border-radius: 10px;
    margin: 20px;
    width: 350px;
    height: 240px;
    display: inline-block;
    vertical-align: middle;
}

.projeto img {
    width: 300px;
    border-radius: 5px;
    margin-top: 20px;
}

.descricao-projeto {
    margin: 10px;
    vertical-align: middle;
}

.descricao-projeto h3 {
    width: 220px;
    display: inline-block;
    vertical-align: middle;
}

.descricao-projeto button {
    background-color: rgb(73, 73, 124);
    color: white;
    font-size: 2em;
    text-align: center;
    border-radius: 50%;
    border: none;
    margin-left: 5px;
    width: 40px;
    height: 40px;
    display: inline-block;
    vertical-align: middle;
}

.descricao-projeto button:hover, .botao-github:hover, .enviar:hover {
    cursor: pointer;
}

.descricao-detalhada {
    display: none;
    margin: 50px;
    line-height: 1.6em;
}

.botao-github, form .enviar {
    background-color: rgb(73, 73, 124);
    height: 40px;
    width: 250px;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    margin-top: 25px;
}

footer {
    background-image: url(images/imagem-rodape.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 450px;
}

form {
    background-color: rgb(2, 2, 41);
    width: 400px;
    height: 100%;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
}

form h2 {
    margin: 25px 0 0 0;
}

form label {
    margin-top: 20px;
}

form label, form input, form textarea{
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: none;
    display: inline-block;
}

form textarea {
    height: 70px;
}

form .enviar {
    width: 300px;
}